* {
  padding: 0px;
  font-family: 'Poppins', sans-serif;
}

.footer {
  background: #1c372c;
  background-size: cover;

}

.first {
  margin-top: 40px;
  margin-bottom: 50px;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.first h4 {
  font-size: 20px;
  letter-spacing: 3px;
  position: relative;
  margin-bottom: 20px;
  font-size: 1.6em;
  padding-bottom: 0.5em;
}

.first h4::after {
  content: '';
  background: #0e1b16;;
  width: 20%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.first a:hover {
  color:#0e1b16;
  transition: 0.2s;
  text-decoration: none
}

.first a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  transition: 0.2s;
}

.second {
  margin-top: 40px;
  margin-bottom: 50px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.second2 {
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.second h4 {
  font-size: 20px;
  letter-spacing: 3px;
  position: relative;
  margin-bottom: 20px;
  font-size: 1.6em;
  color: white;
  padding-bottom: 0.5em;
}

.second h4::after {
  content: '';
  background: #0e1b16;
  width: 20%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 40%;
}

.second a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  transition: 0.2s;
}

.second a:hover {
  color:#0e1b16;
  transition: 0.2s;
  text-decoration: none
}

.third {
  margin-top: 40px;
  margin-bottom: 50px;
  color:white;
  font-family: 'Poppins', sans-serif;
  text-align: right;
}

.third h4 {
  font-size: 20px;
  letter-spacing: 3px;
  position: relative;
  margin-bottom: 20px;
  font-size: 1.6em;
  color: #fff;
  padding-bottom: 0.5em;
}

.third h4::after {
  content: '';
  background: #0e1b16;
  width: 20%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 80%;
}

.third a {
  color: rgb(206, 206, 206);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
  transition: 0.2s;
}

.third a:hover {
  color: #fff;
  transition: 0.2s;
  text-shadow: 1px 1px 20px rgba(0,0,0,1);
}

.third img {
  height: 250px;
}

@media screen and (max-width:1000px) {
  .first {
      text-align: center;
  }

      .first h4::after {
          left: 40%;
      }
}

@media screen and (max-width:1000px) {
  .third {
      text-align: center;
  }

      .third h4::after {
          left: 40% !important;
      }
}

.line {
  height:2px;
  background-color:#0e1b16;
  width:100%;
}

