<body>
    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <div class="first">
                        <h4>Navegue</h4>
                        <p><a href="/home">Home</a></p>
                        <p><a href="#">Categorias</a></p>
                        <p><a href="/produtoras">Produtoras</a></p>
                        <p><a href="/sobre-nos">Sobre nós</a></p>
                    </div>
                </div>

                <div class="col-md-4 col-xs-12">
                    <div class="second">
                        <h4> Criadores</h4>
                        <p><a href="https://www.linkedin.com/in/daniele-pinheiro/" target="_blank">Daniele Pinheiro</a></p>
                        <p><a href="https://www.linkedin.com/in/débora-videira-monteiro" target="_blank">Débora Videira</a></p>
                        <p><a href="https://www.linkedin.com/in/fernando-bramos/" target="_blank">Fernando Bednarski</a></p>
                        <p><a href="https://www.linkedin.com/in/lucasloiolaalmeida/" target="_blank">Lucas Loiola</a></p>
                        <p><a href="https://www.linkedin.com/in/mayara-mafioletti/" target="_blank">Mayara C. Mafioletti</a></p>
                        <p><a href="https://www.linkedin.com/in/ofpaola/" target="_blank">Paola A. Lisboa</a></p>
                    </div>
                </div>

                <div class="col-md-4 col-xs-12">
                    <div class="third">
                        <h4>Onde trabalhamos</h4>
                        <p>Temos produtoras presentes em todo o território brasileiro.</p>
                        <img src="https://i.imgur.com/Cf54Qwz.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="line"></div>
                    <div class="second2">
                        <p> &copy; 2021 Todos os direitos reservados</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>