<footer id="rodape-color">
    <p id="criadores"><strong>Criadores: </strong><a href="https://www.linkedin.com/in/daniele-pinheiro/">Daniele Pinheiro </a>, <a href="www.linkedin.com/in/débora-videira-monteiro">Débora Videira </a>, <a href="https://www.linkedin.com/in/fernando-bramos/">Fernando
            Ramos </a>, <a href="https://www.linkedin.com/in/lucasloiolaalmeida/">Lucas Loiola </a>, <a href="https://www.linkedin.com/in/mayara-mafioletti/">Mayara Mafioletti </a> e <a href="https://www.linkedin.com/in/ofpaola/">Paola Alencar</a>.
    </p>
    <p id="direitos">Todos os direitos reservados©</p>
</footer>