section{

  align-items: center;
  justify-content: center;
  height: 65vh;
}
h1{
  text-align: center;
  margin: 5vh;
  margin-bottom: 10vh;
}
.bb{
  justify-content: center;
}
#tamanho{
  height: 300px;
  width: 296px;
}

.img {
  float: left;
  border-radius: 50%;
  text-align: center;
  margin-right: 175px;
  shape-outside: circle(50% at 120px 140px);
}
