@font-face {
  font-family: UbuntuBold;
  src: url(../../assets/fontes/Ubuntu-Bold.ttf);
}
h1{
  font-family: UbuntuBold;
}

@font-face {
  font-family: Ubuntu;
  src: url(../../assets/fontes/Ubuntu-Light.ttf);
}
small{
  font-family: Ubuntu;
}

p{
  font-family: Ubuntu;
}

section{

  align-items: center;
  justify-content: center;
  height: 65vh;
}
h1{
  text-align: center;
  margin: 5vh;
  margin-bottom: 10vh;
}
.bb{
  justify-content: center;
}
#tamanho{
  height: 300px;
  width: 296px;
}

.img {
  float: left;
  border-radius: 50%;
  text-align: center;
  margin-right: 175px;
  shape-outside: circle(50% at 120px 140px);
}



