<h1 id="titulo">Histórias de Produtoras</h1>

<div class=" container ">
  <!--PRIMERIA PRODUTORA-->
  <section class="bb">

    <img class="img" id="tamanho" src="../../assets/img/produtora1.png" alt="">
    <p><br>
      Falas da Renata sobre sua maior realização profissional que é administrar a fazenda. “Apesar de não ter<br>
      realizado o sonho de ser agrônoma, Deus realizou meu desejo indiretamente colocando-me no campo<br> e permitindo
      com que atue com muito amor, buscando sempre informação, conhecimento constante<br> para agregar, aprimorar e
      reciclar o que sempre aprendo”.<br><br>A produtora rural de grãos destaca a importância da sustentabilidade
      econômica, social e ambiental<br> na atividade rural. “Estou atenta à qualidade de vida e a formação dos
      funcionários, aprimoro cada <br> vez mais
      o sistema de gestão com excelência nas operações, procuro participar
      do desenvolvimento<br> de uma sociedade mais humana proporcionando oportunidades
      para as futuras gerações dos<br> funcionários da Fazenda Maria Júlia e do Estado do
      Pará”, observa orgulhosa.
      <br><br>
      <small> Karen Jamile Viana de Sousa, 33 anos, propriedade em Santa Luzia do Pará (PA)</small>

  </section>
  <!--SEGUNDA PRODUTORA-->
  <section>
    <img class="img" id="tamanho" src="../../assets/img/produtora2.png" alt="">
    <p>
      <br><br>
      Para Karen, trabalhar no setor agropecuário é um grande desafio que é vencido diariamente com muito<br> trabalho,
      dedicação e amor pela atividade. “É possível mostrar para outras mulheres que podemos<br> vencer todas as
      barreiras, quando acreditamos na importância do nosso trabalho, desenvolvendo<br> nossas atividades com
      responsabilidade, competência, amor e dedicação,empregando o verdadeiro<br> sentido do empoderamento feminino no
      campo”, diz Karen, que espera ver cada vez mais mulheres<br> ocupando cargos em todos os setores da economia,
      especialmente no agro. “Acredito que o<br>
      desafio para fazer a diferença no campo é levar tecnologia e conhecimento para
      todos,<br> e, dessa forma, motivar e inspirar outras pessoas”, finaliza.
      <br><br>
      <small> Karen Jamile Viana de Sousa, 33 anos, propriedade em Santa Luzia do Pará (PA)</small>

  </section>
  <!--TERCEIRA PRODUTORA-->
  <section>
    <img class="img" id="tamanho" src="../../assets/img/produtora3.png" alt="">
    <p>
      <br><br>
      Em homenagem a sua avó, Marcela fala: “Se alguém tinha dúvidas sobre o que uma mulher é capaz no<br> campo e
      como fazendeira, certamente ela provou que as mulheres podem ser uma referência de sucesso<br> para
      todos. Ela ensinou também para muitos o que é amar suas raízes, as pessoas envolvidas no<br> negócio, e mais
      do que isso, passou seus ensinamentos para a minha mãe Ana Cristina e para mim,<br> mais duas gerações de mulheres no agro que hoje gerenciam a
      empresa, também amam a atividade<br> e têm a missão de dar continuidade ao sonho e perpetuar o sucesso por mais muitas gerações”.
      <br><br>
      <small> Marcela Marques Vendramini, 30 anos</small>

  </section>


</div>
