<body>
    <form id="d-color">
        <div class="form-group">
            <h1 class="center">Entrar</h1>
            <label for="exampleInputEmail1">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Seu email">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Senha</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
        </div>
        <div id="enviar">
            <button type="submit" class="btn">Entrar</button>
        </div>
        <p id="l-cadastro">Ainda não possui cadastro?<a routerLink='/cadastro'> Cadastre-se</a></p>
    </form>
</body>