body{
    display: flex;
}
#grup{
    margin: 15vh;
    display: flex;
    align-items: center;
}

#txt-grup{
    flex-direction: column;
    display:flex;
    align-items: center;
    justify-content: center;
}
h1{

    font-size: 50pt;
}
button{
    margin: 20px;
    padding: 10px;
}
.btn{
    color: white;
    background-color: #1c372c;
}
#descricao{
    display: flex;
    padding: 30px;
    border-radius: 30px;
    background-color: #884f0ece;
}
