@font-face {
  font-family: bastian;
  src: url(/assets/fontes/bastian_sidney/Bastian\ Sidney.ttf);
}

#grup{
    display: flex;
    align-items: center;
}

.titulo{
  text-align: center;
  color: #1c372c;
  font-family: bastian;
  font-size: 100pt;
  margin-bottom: 10px;
}

#txt-grup{
    flex-direction: column;
    display:flex;
    align-items: center;
    justify-content: center;
}
h1{

    font-size: 50pt;
}
.bb{
    margin: 20px;
    padding: 10px;
}
.btn{
    color: white;
    background-color: #1c372c;
    width: 90%;
}
#descricao{
    display: flex;
    width: 90%;
    padding: 15px;
    border-radius: 10px;
    background-color:#884f0e79;
}

h2{
  font-size: 50px;
 }

 h1{
  color: #884f0e;
  font-size: 70px;
 }
h5{
  color:  #1c372c;
}

 #quantidade{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c372c;
  border-radius:15px;
  max-width: 75px;
  height: 30px;
  display: flex;
  margin: 0px;
}
#minus{
  float:left;
  background-color:transparent;
  color: white;
  font-size:18px;
  font-weight: bold;
  border: none;
  margin: 0px;
}

#plus{
  float:right;
  background-color:transparent;
  color: white;
  font-size:18px;
  font-weight: bold;
  border: none;
  margin: 0px;
}

 #quant{
  background-color: white;
  border: none;
  height: 25px;
  width: 25px;
  text-align: center;
  margin: 0px;
}

#quantrow{
  align-items: baseline;
  margin-top: 20px;
}

img{
  max-width: 700px;
  max-height: 500px;
}

#tamanho{
  height: 30px;
  margin-right: 10px;
}

#button-addon2{
  padding-right: 20px;
}

.hover{
  text-decoration: none;
}
.hover:hover{
  background-color: #346350;
  text-decoration: none;
}

