<body>
    <div id="grup">
          <img src="https://img.freepik.com/fotos-gratis/mandioca-organica-mandioca-mandioca-aipim-culinaria-brasileira-na-mesa-de-madeira-rustica_59529-637.jpg?size=626&ext=jpg" alt="">
        <div class="col-5" id="txt-grup">
                <h2>MANDIOCAAAAAAA</h2>
                <h1 id="preco">R$ 300,00</h1>
                <button type="button" class="btn w-100">Adicionar ao carrinho</button>
            <div id="descricao">
                <p><strong>DESCRIÇÃO:</strong> Lorem dolor sit amet consectetur adipisicing elit. Repellendus ut vero eveniet soluta nam
                    architecto, culpa blanditiis fugit! Fugit at aspernatur deserunt illo doloribus expedita, earum
                    consequuntur mollitia. Aliquid, quidem.</p>
            </div>
        </div>
    </div>
</body>