<body>
    <div class="container" id="container-produto">
        <div id="produto">
            <img src="https://cd.shoppub.com.br/beirario/media/cache/fc/5c/fc5c9341d00c5d9598f6eb629344e42e.jpg" alt="">
            <p id="nome">nomeProduto</p>
            <p id="preco">R$: 0,00</p>
            <input type="number">
            <p id="naosei">parcial</p>
        </div>
    </div>

    <div class="container">
        <div class="confirma">
            <hr>
            <h3 id="total"><strong>TOTAL:</strong> 0,00</h3>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn"><strong>Comprar</strong></button>
            </div>
        </div>
    </div>

    
</body>