h2{
  text-align: center;
  color: #283618;
  margin-bottom: 0px;
}
.row{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;

}
#container-produto{

    background-color: #dda25e98;
    border-radius: 10px;
    width: 800px;
}
#produto{
  margin: 10vh;
  text-align: center;
}
#produto img{
    width: 70px;
    margin: 2vh 0 2vh 0;
}
#nome{
    margin: 4vh 0 4vh 0;
}
#preco{
  margin: 4vh 0 4vh 0;
}

#precoParcial{
  margin: 4vh 0 4vh 0;

}
#confirma{
    display: flex;
    justify-content: center;
}
#total{
    margin-bottom: 10vh;
    text-align: right;
}
#comprar{
    width: 40vh;
    margin-bottom: 5vh;
    font-size: 15pt;
    padding: 2vh;
    color: white;
    background-color: #283618;
}

#quantidade{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #BC6C25;
  border-radius:15px;
  max-width: 75px;
  height: 30px;
  display: flex;
  margin: 0px;
}
#minus{
  float:left;
  background-color:transparent;
  color: white;
  font-size:18px;
  font-weight: bold;
  border: none;
  margin: 0px;
}

#plus{
  float:right;
  background-color:transparent;
  color: white;
  font-size:18px;
  font-weight: bold;
  border: none;
  margin: 0px;
}

#quant{
  background-color: white;
  border: none;
  height: 25px;
  width: 25px;
  text-align: center;
  margin: 0px;
}
