<div class="fundo">
  <a routerLink='/home'>
    <img class="imagem" src="../../assets/img/logo com texto.png" alt="logo">
  </a>
</div>


<div class="backgroud">
  <div id="d-color">
    <div class="form-group">
      <h1 class="center">Cadastrar</h1>
      <label for="nome">Nome</label>
      <input [(ngModel)]='user.nome' (keyup)="validaNome($event)" class="form-control" type="text" id="nome" aria-describedby="text"
        placeholder="Seu nome">
        <div class="invalid-tooltip">Digite um nome válido.</div>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input [(ngModel)]='user.email' (keyup)="validaEmail($event)" class="form-control" type="email" id="email" aria-describedby="emailHelp"
        placeholder="Seu email">
        <div class="invalid-tooltip">Digite um e-mail válido.</div>
    </div>

    <div class="form-group">
      <label for="password">Senha</label>
      <input  [(ngModel)]='user.senha' (keyup)="validaSenha($event)" class="form-control" type="password" name="senha" id="senha"
        placeholder="Digite sua senha">
        <div class="invalid-tooltip">A senha deve conter no mín 6 caracteres e máx 20.</div>
    </div>

    <div class="form-group">
      <label for="password">Confirmar senha</label>
      <input (keyup)="confirmSenha($event)" class="form-control" type="password" name="confirmSenha" id="confirmSenha"
        placeholder="Confirme sua senha">
        <div class="invalid-tooltip">As senhas devem ser iguais.</div>
    </div>

    <div id="vendedora">
      <label for="">Deseja se cadastrar como vendedora?</label>
      <br>
      <input (change)='tipoUser($event)' type="radio" name="vendedora" id="sim" value="true"> Sim
      <input (change)='tipoUser($event)' type="radio" name="vendedora" id="nao" value="false" checked> Não
    </div>
    <div id="enviar">
      <button id="cadastrar" type="submit" class="btn" routerLink='/login'>Cancelar</button>
      <button type="submit" class="btn" (click)="cadastrar()">Cadastrar</button>

    </div>
  </div>

</div>
