.navbar{
    background-color: #606C38;
}
#logo-top{
    height: 50px;
}
img{
    margin-left: 30px;
}
.navbar form{
    margin-right: 150px;
}
.navbar input{
    width: 500px;
}
.nav-item a{
    color: white;
}
.fa-search{
    font-size: 20px;
    color: white;
}
.fa-search:hover{
    color: black;
}
.fa-shopping-cart{
    margin-right:30px ;
    color: white;
}
.fa-shopping-cart:hover{
    color: black;
}
#login{
    text-decoration: none;
    margin-right: 30px;
    color: white;
}
#login:hover{
    color: black;
}
.dropdown-menu a{
    color: black;
}


