@font-face {
  font-family: bastian;
  src: url(/assets/fontes/bastian_sidney/Bastian\ Sidney.ttf);
}

h2{
 color: #1c372c;
 font-family: bastian;
 font-size: 70pt;
}

#valorTotal{
 color: #884f0e;
 font-size: 70px;
}
.nav-link{
  color: #1c372c;
}
.btn-verde{
  color: white;
  background-color: #1c372c;
  margin-bottom: 30px;
}

.btn-tijolo{
  color: white;
  background-color: #884f0e;
  margin-bottom: 30px;
}
