.h2{
 color: #283618;
}

#valorTotal{
 color: #BC6C25;
}
.nav-link{
  color: #606c387e;
}
.btn-verde{
  color: white;
  background-color: #283618;
}

.btn-tijolo{
  color: white;
  background-color: #BC6C25;
}
