<div class="container mt-3 mb-5">

  <div class="row mb-5">
    <div class="col-md-12">
      <h1 class="text-center titulo">Pesquisa por </h1>
      <h2 class="text-center busca">"{{busca}}"</h2>
    </div>
  </div>

  <div class="tab-pane" role="tabpanel">
    <div class="card-columns">
      <div class="card" *ngFor="let item of listaProd">
        <div class="d-flex justify-content-center">
          <img class="img-fluid" src="{{item.imagem}}">
        </div>
        <div class="card-body text-center">
          <h4 class="nome">{{item.nome}}</h4>
          <small class="text-muted">{{item.categoria.nome}}</small>
          <p id="preco">R$ {{item.valor.toFixed(2)}}</p>
            <a href="#" class="btn btn-verde w-100" [routerLink]="['/produto',item.id]">Ver Produto</a>
        </div>
      </div>

    </div>
  </div>
</div>
