<div class="container mt-3 mb-5">

  <div class="row mb-5">
    <div class="col-md-12">
      <h1 class="text-center titulo">Pesquisa por </h1>
      <h2 class="text-center busca">"{{busca}}"</h2>
    </div>
  </div>

  <div class="row">
    <!--div envolvendo todos os cards-->
    <div class="col-sm-4 mb-3" *ngFor='let produto of listaProd'>

      <!--cada card com o produto-->
      <div class="card" [routerLink]="['/produto', produto.id]">
        <div class="d-flex justify-content-center">
          <img class="img-fluid" src="{{produto.imagem}}">
        </div>
        <div class="card-body text-center">
          <h4 class="nome">{{produto.nome}}</h4>
          <small class="text-muted">{{produto.categoria.nome}}</small>
          <p id="preco">R$ {{produto.valor.toFixed(2)}}</p>
            <a class="btn btn-verde w-100" [routerLink]="['/produto',produto.id]">Adicionar ao carrinho</a>
        </div>
      </div>

    </div>
  </div>
</div>
