@font-face {
  font-family: bastian;
  src: url(/assets/fontes/bastian_sidney/Bastian\ Sidney.ttf);
}

.titulo{
  text-align: center;
  color: #1c372c;
  font-family: bastian;
  font-size: 70pt;
  margin-bottom: 0;
}
