
.centro{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.imagem{
  width: 75%;
}


#nossaEquipe {
  margin-left: 42.5%;
}
#equipe {
  margin-top: 10vh;
  margin-bottom: 10vh;
  display: flex;
  justify-content: center;
}
#cont-2 {
  display: flex;
  justify-content: center;
}

#redondo{
  border-radius: 50%;
}


#verde {
  align-items: center;
  height: 75vh;
  width: 100%;
  background-color: #283618;
}
#cont-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.col-11 {
  align-items: center;
  justify-content: space-around;
  margin-top: 8vh;
  display: flex;
  text-align: justify;
}
.col-11 img {
  margin-left: 30px;
  height: 60vh;
}
/*-------------------------------------*/

h1 {
  margin-top: 2.5vh;
}
.col-3 img {
  width: 240px;
}

/*--------------------------------------*/
.card-img{
  height: 50px;
  width: 50px;
}



h5 {
  font-size: 11pt;
}
.card-body p {
  justify-content: center;
  color: rgb(116, 116, 116);
  font-size: 10pt;
}
.card {
  padding: 5px;
  margin: 2.5px;
}
a {
  color: rgb(116, 116, 116);
  font-size: 35pt;
  text-decoration: none;
}
a:hover{
  color: black;
}
.fa-github{
  margin-left: 40px;
}
/*-------------------------------------------*/
.col-5 {
  align-items: center;
}
.col-2 {
  text-align: center;
}
#ut {
  align-items: center;
}
#parte {
  height: 75vh;
  display: flex;
}

#ou {
  font-size: 30pt;
  color: rgb(29, 29, 29);
}
#txt {
  font-size: 45pt;
  color: white;
}
