<!--TEXTO-->

<div class="container mt-5">
  <h1 class="d-flex justify-content-center mb-5 mt-5">Sobre o Raízes Dela</h1>
      <p>Ecommerce pensado para oferecer bem mais que simplesmente a venda de alimentos saudáveis e orgânicos. Nossa
        missão é conectar as mulheres produtoras que querem começar a vender ou expandir seu negócio com o consumidor
        que quer apoiar a causa e melhorar a alimentação e ajudar o meio ambiente
      </p>
      <p>
        Além de alimentos, também é possível vender artesanatos ou produtos que de alguma forma seja sustentável.
      </p>
      <h4 class="d-flex justify-content-center mt-2 mb-2"> Mas por que voltado para mulheres?</h4>
      <p>
        Pois hoje elas são metade da força de trabalho no campo, mas ocupam menos de um quinto do mercado. A forma que
        nós, Raízes Dela, encontramos de encorajá-las e ajudá-las é criando esse ecommerce exclusivo para que seus
        produtos sejam expostos de maneira atrativa para pessoas que estão atrás de produtos sustentáveis e orgânicos.
      </p>
      <img class="centro" src="../../assets/img/linhaHorizontal.png" alt="">
      <h2 class="d-flex justify-content-center mb-5"><strong>Fatos</strong></h2>
      <p>Nas regiões mais pobres do planeta, as mulheres são responsáveis por 60% a 80% da produção agrícola, cultivando
        pequenas propriedades, plantando e criando animais. Mas elas geralmente não trabalham nas mesmas condições dos
        homens: têm menos acesso à educação, a técnicas agrícolas, equipamentos e crédito.
      </p>
      <p class="mb-5">
        Um estudo feito pela FAO calculou que, se todas as agricultoras tivessem o mesmo acesso que os homens aos
        recursos, elas seriam capazes de aumentar sua produção em até 30%. Isso equivale a um crescimento de 2.5% a 4%
        de toda a produção agrícola nas nações mais pobres, suficiente para reduzir o número de pessoas subnutridas no
        planeta em até 17%.(pode significar menos 150 milhões de pessoas com fome no planeta)
      </p>


</div>
<div class="container">
  <img class="centro imagem mb-5" src="../../assets/img/Sobre nos.jpg" alt="">
</div>


<hr>
<!--Nossa equipe (titulo)-->
<div id="nossaEquipe">
  <h2>Nossa Equipe</h2>
</div>
<!--Card com a esquipe-->
<section id="equipe">
  <div class="col-10" id="cont-2">

    <div class="card mb-3">
      <img class="card-img-top" id="redondo"
        src="https://media-exp1.licdn.com/dms/image/C4E03AQFWMnkfAQA9Nw/profile-displayphoto-shrink_200_200/0/1614111361909?e=1622678400&v=beta&t=WEgHKljhuqwv_l56eD4ofcyNkzfUQrRiQLe3a_V5Zos"
        alt="Imagem de capa do card">
      <div class="card-body">
        <h5 class="card-title">Daniele Pinheiro</h5>
        <p class="card-text">Fullstack Develop Jr.</p>
        <a target="_blank" href="https://www.linkedin.com/in/daniele-pinheiro/"><i class="fa fa-linkedin"
            aria-hidden="true"></i> </a>
        <a target="_blank" href="https://github.com/ddsp-pinheiro"><i class="fa fa-github" aria-hidden="true"></i></a>
      </div>
    </div>

    <div class="card mb-3">
      <img class="card-img-top" id="redondo"
        src="https://media-exp1.licdn.com/dms/image/C5603AQE9NTu4PBRufQ/profile-displayphoto-shrink_200_200/0/1517459849999?e=1622678400&v=beta&t=9Hdtcwt3NKQJBAfc_AmtJVwIO2Obws7Bmyw2QJcmO8k"
        alt="Imagem de capa do card">
      <div class="card-body">
        <h5 class="card-title">Débora Vieira</h5>
        <p class="card-text">Fullstack Develop Jr.</p>
        <a target="_blank" href="https://www.linkedin.com/in/d%C3%A9bora-videira-monteiro/"><i class="fa fa-linkedin"
            aria-hidden="true"></i> </a>
        <a target="_blank" href="https://github.com/DebVidMon"><i class="fa fa-github" aria-hidden="true"></i></a>
      </div>
    </div>

    <div class="card mb-3">
      <img class="card-img-top" id="redondo"
        src="https://media-exp1.licdn.com/dms/image/C5603AQG_SdyuULNQNg/profile-displayphoto-shrink_200_200/0/1566566922149?e=1622678400&v=beta&t=RKgxXX7Blt9XqTIx_z5kBQvHfOIF-WtYuci_AX1kkMg"
        alt="Imagem de capa do card">
      <div class="card-body">
        <h5 class="card-title">Fernando Ramos</h5>
        <p class="card-text">Fullstack Develop Jr.</p>
        <a target="_blank" href="https://www.linkedin.com/in/fernando-bramos/"><i class="fa fa-linkedin"
            aria-hidden="true"></i> </a>
        <a target="_blank" href="https://github.com/fbedn"><i class="fa fa-github" aria-hidden="true"></i></a>
      </div>
    </div>

    <div class="card mb-3">
      <img class="card-img-top" id="redondo"
        src="https://media-exp1.licdn.com/dms/image/C4E03AQFZ65kkZxrqAg/profile-displayphoto-shrink_200_200/0/1614804732853?e=1622678400&v=beta&t=WeLhjSPcl_cmw4H4lxKNUWJvW7VVVZPji3TFcU0hRyg"
        alt="Imagem de capa do card">
      <div class="card-body">
        <h5 class="card-title">Lucas Loiola</h5>
        <p class="card-text">Fullstack Develop Jr.</p>
        <a target="_blank" href="https://www.linkedin.com/in/lucasloiolaalmeida/"><i class="fa fa-linkedin"
            aria-hidden="true"></i> </a>
        <a target="_blank" href="https://github.com/lucasloiola"><i class="fa fa-github" aria-hidden="true"></i></a>
      </div>
    </div>

    <div class="card mb-3">
      <img class="card-img-top" id="redondo"
        src="https://media-exp1.licdn.com/dms/image/C4D03AQHPLeNu9VTSRQ/profile-displayphoto-shrink_200_200/0/1618250711275?e=1624492800&v=beta&t=u27hdMGtfg6Kw-hy34nuzEGEa672hJuDUpd38MDeU84"
        alt="Imagem de capa do card">
      <div class="card-body">
        <h5 class="card-title">Mayara Mafioletti</h5>
        <p class="card-text">Fullstack Develop Jr.</p>
        <a target="_blank" href="https://www.linkedin.com/in/mayara-mafioletti/"><i class="fa fa-linkedin"
            aria-hidden="true"></i> </a>
        <a target="_blank" href="https://github.com/Mayaramafioletti"><i class="fa fa-github"
            aria-hidden="true"></i></a>
      </div>
    </div>

    <div class="card mb-3">
      <img class="card-img-top" id="redondo"
        src="https://media-exp1.licdn.com/dms/image/C4D03AQFBhLrCxdTdzw/profile-displayphoto-shrink_200_200/0/1588938727945?e=1622678400&v=beta&t=D0mKFr0qCpbMRfylqifkG_V-brX-Lkswtat0yOwii6U"
        alt="Imagem de capa do card">
      <div class="card-body">
        <h5 class="card-title">Paola Alencar</h5>
        <p class="card-text">Fullstack Develop Jr.</p>
        <a target="_blank" href="https://www.linkedin.com/in/ofpaola/"><i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>
        <a target="_blank" href="https://github.com/ofpaola"><i class="fa fa-github" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</section>
<hr>
<!--CARD PRODUTORAS E PRODUTOS-->
<section id="parte">
  <div class="container d-flex" id="ut">
    <div class="col-5">
      <div class="card text-white">

        <img src="../../assets/img/produtos.jpg" alt="Imagem do card">
        <div class="card-img-overlay">
          <h5 class="card-title" id="co"> <a routerLink="/todos-produtos" id="txt"><strong>Conheça nossos produtos</strong></a></h5>
        </div>
      </div>
    </div>
    <div class="col-2">
      <h1 id="ou"><strong>OU</strong></h1>
    </div>
    <div class="col-5">
      <div class="card text-white">
        <img src="../../assets/img/sejaProdutora.jpg" alt="Imagem do card">
        <div class="card-img-overlay">
          <h5 class="card-title" id="co"><a routerLink='/cadastrar' id="txt"><strong>Seja uma produtora</strong></a>
          </h5>
        </div>
      </div>
    </div>
  </div>
</section>
