<!--<section id="verde">
  <div class="container" id="cont-1">
    <div class="col-11">
      <h1><Strong>Raizes Dela</Strong></h1>
      <img src="https://i.imgur.com/wfdiIWQ.png" alt="">
    </div>
  </div>
</section>-->
<section id="sobre">
  <div class="col-3">
    <img src="../../assets/img/linhas2.png" alt="">
  </div>
  <div class="col-6">
    <h2><strong>Sobre o Ecommerce</strong></h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, earum, aperiam nemo modi eos quasi quaerat error quo
      ea fugiat sequi? Vel quia dolore placeat ut exercitationem ea unde nam!<br><br>Lorem ipsum dolor sit amet,
      consectetur adipisicing elit. Cupiditate impedit expedita dolore reiciendis, aliquid debitis? Quasi ratione
      provident, nostrum, officiis accusamus labore et, itaque rerum ducimus in ut? Consectetur, tempore.<br><br>Lorem,
      ipsum dolor sit amet consectetur adipisicing elit. Nisi architecto accusantium corporis quas odit, saepe
      praesentium culpa, et incidunt quidem voluptates unde nihil quo provident quaerat consequatur non suscipit
      dolorem?</p>
  </div>
  <div class="col-3">
    <img src="../../assets/img/linhas.png" alt="">
  </div>
</section>
<hr>
<div id="ee">
  <h2>Nossa Equipe</h2>
</div>
<section id="equipe">
  <div class="col-10" id="cont-2">

    <div class="card mb-3">
      <img class="card-img-top" id="redondo" src="https://media-exp1.licdn.com/dms/image/C4E03AQFWMnkfAQA9Nw/profile-displayphoto-shrink_200_200/0/1614111361909?e=1622678400&v=beta&t=WEgHKljhuqwv_l56eD4ofcyNkzfUQrRiQLe3a_V5Zos" alt="Imagem de capa do card">
      <div class="card-body">
        <h5 class="card-title">Daniele Pinheiro</h5>
        <p class="card-text">Fullstack Develop Jr.</p>
        <a href="https://www.linkedin.com/in/daniele-pinheiro/"><i class="fa fa-linkedin" aria-hidden="true"></i> </a>
        <a href="https://github.com/ddsp-pinheiro"><i class="fa fa-github" aria-hidden="true"></i></a>
      </div>
    </div>

    <div class="card mb-3">
      <img class="card-img-top" id="redondo" src="https://media-exp1.licdn.com/dms/image/C5603AQE9NTu4PBRufQ/profile-displayphoto-shrink_200_200/0/1517459849999?e=1622678400&v=beta&t=9Hdtcwt3NKQJBAfc_AmtJVwIO2Obws7Bmyw2QJcmO8k" alt="Imagem de capa do card">
      <div class="card-body">
        <h5 class="card-title">Débora Vieira</h5>
        <p class="card-text">Fullstack Develop Jr.</p>
        <a href="https://www.linkedin.com/in/d%C3%A9bora-videira-monteiro/"><i class="fa fa-linkedin" aria-hidden="true"></i> </a>
        <a href="https://github.com/DebVidMon"><i class="fa fa-github" aria-hidden="true"></i></a>
      </div>
    </div>

    <div class="card mb-3">
      <img class="card-img-top" id="redondo" src="https://media-exp1.licdn.com/dms/image/C5603AQG_SdyuULNQNg/profile-displayphoto-shrink_200_200/0/1566566922149?e=1622678400&v=beta&t=RKgxXX7Blt9XqTIx_z5kBQvHfOIF-WtYuci_AX1kkMg" alt="Imagem de capa do card">
      <div class="card-body">
        <h5 class="card-title">Fernando Ramos</h5>
        <p class="card-text">Fullstack Develop Jr.</p>
        <a href="https://www.linkedin.com/in/fernando-bramos/"><i class="fa fa-linkedin" aria-hidden="true"></i> </a>
        <a href="https://github.com/fbedn"><i class="fa fa-github" aria-hidden="true"></i></a>
      </div>
    </div>

    <div class="card mb-3">
      <img class="card-img-top" id="redondo" src="https://media-exp1.licdn.com/dms/image/C4E03AQFZ65kkZxrqAg/profile-displayphoto-shrink_200_200/0/1614804732853?e=1622678400&v=beta&t=WeLhjSPcl_cmw4H4lxKNUWJvW7VVVZPji3TFcU0hRyg" alt="Imagem de capa do card">
      <div class="card-body">
        <h5 class="card-title">Lucas Loiola</h5>
        <p class="card-text">Fullstack Develop Jr.</p>
        <a href="https://www.linkedin.com/in/lucasloiolaalmeida/"><i class="fa fa-linkedin" aria-hidden="true"></i> </a>
        <a href="https://github.com/lucasloiola"><i class="fa fa-github" aria-hidden="true"></i></a>
      </div>
    </div>

    <div class="card mb-3">
      <img class="card-img-top" id="redondo" src="https://media-exp1.licdn.com/dms/image/C4D03AQGYcCrAcSpzrA/profile-displayphoto-shrink_200_200/0/1579744938322?e=1622678400&v=beta&t=8lShfNIcjLVkv4hrJoxb7IPbiwmi7qNe28HJn0OVoqs" alt="Imagem de capa do card">
      <div class="card-body">
        <h5 class="card-title">Mayara Mafioletti</h5>
        <p class="card-text">Fullstack Develop Jr.</p>
        <a href="https://www.linkedin.com/in/mayara-mafioletti/"><i class="fa fa-linkedin" aria-hidden="true"></i> </a>
        <a href="https://github.com/Mayaramafioletti"><i class="fa fa-github" aria-hidden="true"></i></a>
      </div>
    </div>

    <div class="card mb-3">
      <img class="card-img-top" id="redondo" src="https://media-exp1.licdn.com/dms/image/C4D03AQFBhLrCxdTdzw/profile-displayphoto-shrink_200_200/0/1588938727945?e=1622678400&v=beta&t=D0mKFr0qCpbMRfylqifkG_V-brX-Lkswtat0yOwii6U" alt="Imagem de capa do card">
      <div class="card-body">
        <h5 class="card-title">Paola Alencar</h5>
        <p class="card-text">Fullstack Develop Jr.</p>
        <a href="https://www.linkedin.com/in/ofpaola/"><i class="fa fa-linkedin" aria-hidden="true"></i> </a>
        <a href="https://github.com/ofpaola"><i class="fa fa-github" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</section>
<hr>
<section id="parte">
  <div class="container d-flex" id="ut">
    <div class="col-5">
      <div class="card text-white">
        <img
          src="https://lh3.googleusercontent.com/proxy/yatx2iu8D38CFuceRWiJsixmp5ht9qjhd268ypBV1UB5rBQs5MbxMOXNnfJZzJUUL_yNjUTiMJVpuPTNMmPUYXhdPCZGWO7mM3qJifQeUveNgpSbfBZCr05ZcdjG60SIi8xyIPB87ASwKCP-o28bIEFpBrCptJEuGRntVQ"
          alt="Imagem do card">
        <div class="card-img-overlay">
          <h5 class="card-title" id="co"><a routerLink="" id="txt"><strong>Conheça nossos produtos</strong></a></h5>
        </div>
      </div>
    </div>
    <div class="col-2">
      <h1 id="ou"><strong>OU</strong></h1>
    </div>
    <div class="col-5">
      <div class="card text-white">
        <img
          src="https://static.portaldacidade.com/unsafe/1150x767/https://s3.amazonaws.com/santahelena.portaldacidade.com/img/news/2019-08/seminario-de-valorizacao-da-mulher-do-campo-deve-reunir-500-participantes-5d642ae5c18cf.jpg"
          alt="Imagem do card">
        <div class="card-img-overlay">
          <h5 class="card-title" id="co"><a routerLink='/cadastrar' id="txt"><strong>Seja uma produtora</strong></a></h5>
        </div>
      </div>
    </div>
  </div>
</section>
